

.slide-background:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,.5);
  }



  .reveal .footer {
    position: absolute;
    bottom: 0em;
    left: 0em;
    padding: 1em;
    font-size: 0.5em;
    background-color: #00407a;
    width: 100%;
    height: 60px;

    z-index: 1;
    
  }

  .reveal .footer:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; 

    top: 0;
    transform: skewY(1.25deg);
    transform-origin: 100% 0;

  }

  #calendar {
      width: 80%;
      height: 620px;
      background-color: #fff;
      margin: 0 auto;
      font-size: 0.7em;
      color:#000;
  }

  .fc-view, .fc-view-container {
    height: 620px;
    max-height: 620px;
  }


  .event-grid {
    
    width: 80%;
    height: 660px;
    margin: 0 auto !important;
    text-align: left;

  }
  
  .event-grid h2{
    font-size: 0.6em;
    margin-bottom: 0;
    
  }

  .event-grid h3 {
    font-size: 0.5em;
    margin-bottom: 0;
    color: #33ccff;
  }

  .event-grid h4 {
    font-size: 0.7em;
    margin-bottom: 0;
    color: #E57252;
    
  }

  .event-grid h5 {
    font-size: 0.7em;
    margin-bottom: 0;
    color: #E94F64;
    
  }

  .event-grid .row {
    padding: 0.75em 0;
  }

  a.footer-link, a.footer-link:visited, a.footer-link:hover, a.footer-link:active {
    color: #fff;
  }

  a.footer-link:active,  a.footer-link:hover {
    text-decoration: underline;
  }